html,body{
	width:1920;
	height:1080;
}
#content {
padding: 18px 0px 0px 0px;
}
.container{
	width:1800px;
	margin:0 auto;
}
.runStatus{
	width: 1270px;
}
.lhcStatus{
	width: 464px;
}
.lhcStatus img{
	width: 100%;
}	
.detectorControl{
	width: 464px;
}
.detectorControl img{
	width: 464px;
	height: 472px;
}
.trigger{
	width: 595px;
}
.event{
	width: 612px;
}
.event .RhoZ, .event .YX1, .event .YX2 {
	min-height:100px;
	border:0px solid #C1BDBD;
	border-top:none;
	overflow:hidden;
}
.event .RhoZ {
	width: 612px;
	height: 343px;
}
.event .YX1 {
	width: 306px;
	height: 343px;
}
.event .YX2 {
	width: 306px;
	height: 343px;
}
.event .RhoZ img {
	position:relative;
	width: 922px;
	left: 0px;
	top: -373px;
}
.event .YX1 img {
	position:relative;
	width: 922px;
	left: 0px;
	top: -28px;
}
.event .YX2 img {
	position:relative;
	width: 922px;
	left: -613px;
	top: -28px;
}
.quality{
	width: 200px;
}
.lhcStatus, .quality {
	float: left;
	display: inline;
	margin-right: 66px;
	margin-bottom: 10px;
}
.runStatus {
	float: right;
	display: inline;
	margin-left: 0px;
	margin-bottom: 10px;
}
.detectorControl, .trigger {
	float: left;
	display: inline;
	margin-right: 13px;
	margin-bottom: 0px;
}
.event {
	float: right;
	display: inline;
	margin-left: 0px;
	margin-bottom: 0px;
}
.runStatus h3, .lhcStatus h3, .detectorControl h3, .trigger h3, .event h3, .quality h3{
	font-size:16px;
	line-height:28px;
	font-weight:bold;
	display:block;
	text-transform:uppercase;
	padding:0 0 0 7px;
	color:#FFFFFF;
	background:url(../images-new/detector-7x28-left.gif) no-repeat left top;
}
.runStatus h3 div, .lhcStatus h3 div, .detectorControl h3 div, .trigger h3 div, .event h3 div, .quality h3 div{
	margin:0;
	display:block;
	padding:0;
	background:url(../images-new/detector-1500x28-right.gif) no-repeat right top;
}
#.runStatus h3.active, .lhcStatus h3.active, .detectorControl h3.active, .trigger h3.active, .event h3.active, .quality h3.active{
#	background-position: right 5px;
#}
.runStatus .datapreInside, .lhcStatus .datapreInside, .detectorControl .datapreInside, .trigger .datapreInside, .event .datapreInside, .quality .datapreInside{
	min-height:100px;
	height:auto !important;
	border:0px solid #C1BDBD;
	border-top:none;
	overflow:hidden;
	background:#F2F2F2 url(../images-new/dataPre_grad.gif) repeat-x left bottom;
}
.runStatus table{
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}
.runStatus table td table td{
	padding: 5px 2px 5px 2px;
}
.runStatusHead{
    background:#004080;
    text-align:center;
}
.runStatusKey{
    background:#dbeffb;
}
.runStatusValue{
	background:#ffffff;
}
.runStatusRunning{
	display:block;
	color:#ffffff;
	background:#00bb00;
	font-weight:bold;
}
.statusOk{
	background:#00ff00;
}
.statusActive{
	background:#ffdc00;
}
.statusInactive{
	background:#808080;
}
.statusError{
	background:#ff0000;
}
.statusStandby{
	background:#0000ff;
}
